body {
  font-family: Arial;
  padding: 20px;
}

/* 👇 QUEBRA AUTOMÁTICA NO CALENDÁRIO */
.fc-event-title {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 12px;
}

/* 👇 DEIXA MAIS COMPACTO */
.fc-event {
  padding: 2px;
}
