body {
  font-family: Arial;
  padding: 20px;
}

/* calendário */
.fc .fc-event-title,
.fc .fc-event-main {
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
  font-size: 12px;
}

.fc-daygrid-event {
  white-space: normal !important;
}
